body{
    background-color: #1a2324;
    color: white;
}

.card{
    background-color: #2f3838;
    color: white;
}

.accordion, .accordion-item, .accordion-button{
    background-color: #2f3838;
    border-color: #1a2324;
    color: white;
}

.link{
    text-decoration: none;
    color: #00d9e8;
}